@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.shadow-drop-center:hover {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  //animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container_Right {
  .container_E_int {
    li {
      img {
        &:active {
          transform: rotate(360deg);
          transition: transform 1s;
        }
      }
    }
  }
}

footer {
  div {
    p {
      &:active {
        color: $blue;
        cursor: default;
      }
    }
  }
}

.Accueil{
  .container{
    #me{
      &:active{
        transform: scale(1.2);
        transition: transform 0.5s;
      }
    }
  }
}

@media all and (max-width: 810px) {
  footer {
    div {
      p {
        &:active {
          color: $blue;
          cursor: default;
        }
      }
    }
  }

  .Accueil{
    .container{
      #me{
        &:active{
          transform: scale(1.2);
          transition: transform 0.5s;
        }
      }
    }
  }
}


//si vous lisez jusque là enlevez le commentaire sur le code ci-dessous et vous verrez un petit effet sympa sur le site pour votre anniv;)

//*{
//  cursor: none;
//  &:hover{
//    transform: rotate(360deg);
//    transition: transform 1s;
//  }
//}